<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pedrocarr"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/pedro-car/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    API Warehouse. All rights reserved ® 2024
  </div>
</div>
