<ul class="nav flex-column">
  <h3 class="main-title">My requests</h3>
  <% @requests.each do |request| %>
    <% if request.response.present? %>
      <div class="container mb-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <%= link_to request_path(request) do %>
                <strong> <%= request.url %></strong>
              <% end %>
            </div>
            <div class="col">
              <%= button_to "Delete", request_path(request), method: :delete, data: { turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-danger btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
