<div data-controller="requests" class="container mt-4">
  <h1 class="mb-4">Requests</h1>
  <%= simple_form_for(@request, data: { action: "submit->requests#makeRequest" }, html: { class: "mb-4" }) do |f| %>
    <div class="mb-3">
      <%= f.input :url, label: false, input_html: { data: { "requests-target": "url" }, class: "form-label", placeholder: "Enter API URL here..." } %>
      <%= f.button :submit, class: 'btn btn-primary', value: "Make Request" %>
    </div>
    <div class="mt-4">
      <textarea data-requests-target="response" rows="10" class="form-control" readonly></textarea>
    </div>
  </div>
<% end %>
