<div class="container" >
  <div class="row justify-content-center mt-4">
    <div class="col">
      <%= link_to "<- Back to Playground", root_request_path %>
    </div>
    <div class="col">
      <button class="btn btn-outline-dark mb-3" data-clipboard-target="#text">Copy</button>
    </div>
  </div>
  <div class="code mt-4">
    <pre id="text" data-requests-target="response" class="form-label pre-scrollable" readonly>
      <code class="json">
        <%= JSON.pretty_generate(JSON.parse(@request.response.body)) %>
    </code>
    </pre>
    <%= link_to "<- Back to Playground", root_request_path %>
  </div>
</div>
