<ul class="nav flex-column">
  <% @requests.each do |request| %>
    <% if request.response.present? %>
      <%= request.method %>
      <%= request.url %>
      <li class="nav-item">
        <%= link_to "Delete Request", request_path(request), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to "Show Request", request_path(request) %>
      </li>
    <% end %>
  <% end %>
</ul>
